#mainhome{
   padding-top: 0px;
   margin-top: 0px;
    width: 50%;
    height: 1000px;

margin-left: 25%;
}

#searchbox{
    width: 80%;
    height: 60px;
    border: none;
    
}
.databox{
    width: 12.5%;
    height: 100%;
    cursor: pointer;
 
}
#locsign{
    height: 20px;
    padding-right: 3%;
    
}
#box{
    background-color: white;
    width: 100%;
    border: 1px solid black;

}
.graphbox{
    margin-right: 80%;
}
#secondbox{
   
    width: 100%;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}
#searchbtn{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
        #mainhome {
                padding-top: 0px;
                margin-top: 0px;
                width: 80%;
                height: 1000px;
        
                margin-left: 10%;
            }

                              
    /* Extra small devices (phones, 600px and down) */
.databox {
        width: 100%;
        height: 100%;
        margin-left: 7%;
        cursor: pointer;

    }
    
   
}


.imgsetting{
    height: 50px;
 
}
.newimgsetting{
    padding-left: 15%;
    height: 50px;
}
#thirdbox{
    height: 500px;
    width: 100%;
    border: 1px solid black;
}
.pressure{
    border: 1px solid black;
    width: 30%;
    margin: 9%;
    background-color: #F3FBFF;
}
.fourthbox{
    display: flex;
}
#fifthbox{
    display: flex;
}
#secbox{
    padding-left: 80%;
}
#firbox{
    padding-left: 2%;
}