#mainhome{
   padding-top: 0px;
   margin-top: 0px;
    width: 800px;
    height: 1000px;
background-color: aqua;
}

#searchbox{
    width: 80%;
    height: 60px;
    border: none;
    
}
.databox{
    width: 12.5%;
    height: 100%;
    border: 1px solid blue;
}
#locsign{
    height: 20px;
    padding-right: 3%;
    
}
#box{
    background-color: white;
    width: 100%;
    border: 1px solid black;

}
.graphbox{
    margin-right: 80%;
}
#secondbox{
    height: 140px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}
.imgsetting{
    height: 50px;
    
}
#thirdbox{
    height: 500px;
    width: 100%;
    border: 1px solid black;
}
.pressure{
    border: 1px solid black;
    width: 250px;
    margin: 9%;
    background-color: #F3FBFF;
}
.fourthbox{
    display: flex;
}
#fifthbox{
    display: flex;
}
#secbox{
    margin-left: 80%;
}
#firbox{
    margin-left: 2%;
}